.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100svh - 90px);
    background: url(/img/index/toro.1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll
}

.hero__heading {
    width: 36ch;
    font-family: var(--ff-body);
    font-size: calc(var(--fs-s) + 2vw);
    color: var(--clr-yellow);
    text-align: center;
}